body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;

}

#graph {
	width:800px;
	height:400px; 
	margin: auto;
}

.graph-container {
	position: relative;
	margin: 20px;

}
.ajax-loader {
	background: url("../gfx/ajax_loader.gif") no-repeat center center transparent;
	display: none;
	width:50px;
	height:50px;
	position: absolute;
	top: 50%;
	left: 50%;
}