{% extends "base.twig" %}
{% block title %}Main{% endblock %}

{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Servers stats</h1>
        <select id="servers" >
      		<option value="0">Choose server</option>
    		{% for serv in servers %}
        	<option value="{{ serv.id }}">{{ serv.server_name|e }}</option>
    		{% endfor %}
      	</select>
        <br />
        <div class="graph-container">
          <div id="graph"></div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Stats</h3>
            </div>
            <div class="panel-body">
            <table class="table">
              <tr>
                <td class="warning">min: <span id="min"></span></td>
                <td class="danger">max: <span id="max"></span></td>
                <td class="info">avg: <span id="avg"></span></td>
              </tr>
              </table>    
              </div>
            </div>
          <div class="ajax-loader"></div>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
